
:root {
  --text-color: #4F1BA1;
  --text-light: #927CD3;  
  --font-size-h1: clamp(2.5rem, 4vw + 1rem, 4rem); 
  --font-size-h2: clamp(1.75rem, 2.5vw + 1rem, 2.5rem); 
  --font-size-h3: clamp(1.5rem, 2vw + 0.5rem, 2rem); 
  --font-size-p: clamp(0.875rem, 1vw + 0.5rem, 1rem);
  --font-size-small: clamp(0.65rem, 0.5vw + 0.5rem, 0.75rem);
  --spacing: 16px;

  --bg-gradient: linear-gradient(to bottom right, #ffe4e1, #e0bbe4, #c1e1ff);
  --text-gradient: linear-gradient(to right, #7c3aed, #ec4899, #3b82f6);
  --button-gradient: linear-gradient(to right, #ec4899, #8b5cf6);
  --button-hover-gradient: linear-gradient(to right, #d946ef, #9333ea);

  --button-shadow: 0 0 20px rgba(236, 72, 153, 0.5);
  --button-hover-shadow: 0 0 25px rgba(236, 72, 153, 0.7);
  --text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.background-overlay {
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMiIgZmlsbD0iI0ZGQjVFOCIgZmlsbC1vcGFjaXR5PSIwLjIiLz48L3N2Zz4=");
  opacity: 1;
  z-index: 1;
  overflow: hidden;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100svw;
  max-width: 1200px;
  min-width: full;
  padding: 2rem;
}

.logo {
  font-size: var(--font-size-p);
  font-weight: bold;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.nav {
  display: flex;
  gap: 2rem;
}

.nav span {
  font-size: var(--font-size-small);
  color: var(--text-light);
}

.hero {
  background: var(--bg-gradient);
  overflow-x: hidden;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  min-width: full;
  margin: 0 auto; 
  position: relative;

}

.hero-content {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  z-index: 2;
}

.hero-title {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  ;
}

.title {
  position: relative;
  line-height: 1;
  font-size: var(--font-size-h1);
  font-weight: 800;
  text-align: center;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
 
}

.title::before {
  z-index: 1;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-shadow: var(--text-shadow)
}

.subtitle {
  position: relative;
  font-size: var(--font-size-h3);
  font-weight: 800;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle::before {
  z-index: 1;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-shadow: var(--text-shadow);
}

.hero-description {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  ;
}

.hero-description p {
  font-size: var(--font-size-p);
  color: #4F1BA1;
  font-weight: 500;

}

.btn-play {
  background: var(--button-gradient);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: all 0.3s ease;
  z-index: 2;
  text-decoration: none;
}

.btn-play:hover {
  background: var(--button-hover-gradient);
  box-shadow: var(--button-hover-shadow);
}

.btn-submit:active {
  transform: scale(0.95);
  box-shadow: 0 0 15px rgba(236, 72, 153, 0.7);;
}

.line {
  position: relative;
  width: 100vw;
  height: 1px;
  background: white;
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap: 60px; 
  margin-bottom: 75px;
}

.image-container {
  background: linear-gradient(to bottom right, #fffef6, #ffe9ef); 
  border-radius: 20px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 200px;
  padding: 6px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-container:hover {
  transform: translateY(-5px); 
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); 
}

.image-container-3 {
  flex-shrink: 0;
  z-index: 3;
}

.image-container-2 {
  flex-shrink: 0;
  z-index: 2;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 18px; 
}

/* SIGN UP PAGE */

.form-wrapper {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 3rem 3rem 3rem 3rem;
  border-radius: 1rem;
  max-width: 424px;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(172, 6, 6, 0.1);
  z-index: 1;
  margin: 0 1rem;

}

.title-singup {
  font-size: var(--font-size-h2);
  font-weight: 800;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.3;
}

.singup-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.subtitle-singup {
  display: block;
  font-size: 1.5rem;
  color: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.label {
  font-size: 0.90rem;
  color: var(--text-color);
  text-align: left;
  font-weight: 500;
}

.input {
  padding: 0.75rem 1rem; 
  border-radius: 9999px;
  border: 2px solid var(--text-color);
  font-size: 1rem;
  color: var(--text-color);
  outline: none;
  transition: border-color 0.3s;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.input::placeholder {
  color: #9370db;
}


.input:focus {
  border-color: #3b82f6;
}

.input-error {
  border-color: #ec4899;
}

.error-message {
  font-size: var(--font-size-small);
  color: #ec4899;
  text-align: left;
  font-weight: 500;
  margin-top: .5rem;
}

.btn-submit {
  background: var(--button-gradient);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: all 0.3s ease;
  z-index: 2; 
  margin-top: 1rem;
}

.btn-submit:hover {
  background: var(--button-hover-gradient);
  box-shadow: var(--button-hover-shadow);
}

.btn-submit:active {
  transform: scale(0.95);
  box-shadow: 0 0 15px rgba(236, 72, 153, 0.7);;
}

.thank-you-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.thank-you-message h2 {
  font-size: var(--font-size-h2);
  font-weight: 800;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.3;
}


.thank-you-message p {
  font-size: var(--font-size-p);
  color: #0c0413;
}

.thank-you-message a {
  font-size: var(--font-size-p);
  color: var(--text-light);
  font-weight: 500;
}



@media (max-width: 768px) {
  .nav  {
    gap: .5rem;
  }

  .image-row  {

    gap: 15px;
  }

  .image-container {
    padding: 0;
  }

  .image-container-1 {
    display: none;
  }
}









